/* CSS declarations go here */
div.cardsList{
	background: #999;
	padding: 2em;
	width: 400px;
}

div.cardsList div.card {
	background: #fff;
	padding: 5px 10px 10px 10px;
	margin: 20px;
	width: 300px;
}

div.card h3 {
	margin: 0;
	padding: 0;
}