/* CSS declarations go here */
div.cardsList{
	background: #999;
	padding: 2em;
	width: 400px;
}

div.cardsList div.card {
	background: #fff;
	padding: 5px 10px 10px 10px;
	margin: 20px;
	width: 300px;
}

div.card h3 {
	margin: 0;
	padding: 0;
}

div.items ul.items {
	margin: 0 0 1em .5em;
	padding: 0;
	list-style-type: none;
}

div.items span.item_star {
	font-size: 20px;
	vertical-align: middle;
}